@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.footer {
    background-color: #d7d8db;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.footer-section {
    flex: 1;
    text-align: left;
    display: flex; 
    align-items: center; 
}

.footer-section:nth-child(2) { 
    justify-content: center; 
    text-align: center; 
}

.footer-section.social-icons {
    justify-content: flex-end; 
}

.footer-section.social-icons a {
    margin-left: 20px;
}

.footer-section.social-icons img {
    height: 26px;
}

.social-icons a:hover {
    filter: brightness(91%) invert(73%) sepia(14%) saturate(135%) hue-rotate(159deg) contrast(90%) ;
    transition: filter 0.3s ease;
}

#linkedin-logo:hover {
    filter: brightness(94%) invert(33%) sepia(48%) saturate(2050%) hue-rotate(174deg) contrast(101%) ;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-section:not(.social-icons) {
        justify-content: center; 
        margin-bottom: 0.5rem;
    }

    .footer-section.social-icons {
        order: -1; 
        justify-content: center; 
        margin-bottom: 1rem; 
    }

    .footer-section.social-icons a {
        margin: 0 10px; 
    }
}
