@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.intro {
    background-color: rgb(224, 225, 227);
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem;
    padding-bottom: 50px;
}

.intro-header {
    margin-bottom: 1.5rem;
    text-align: center;
}

.intro-header h2 {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.intro-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 2rem;
    margin-top: 0;
    margin-left: 3rem;
}

.intro-image {
    height: 300px;
    border-radius: 50%;
    border: 3px solid #000000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.intro-description {
    display: block;
    text-align: left;
    margin-left: 1rem;
    margin-right: 3rem;
    max-width: calc(100% - 350px);
}

.intro-description p {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.expertise-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 5rem;
    margin-right: 5rem;
}

.expertise {
    flex: 1;
    padding: 1rem;
    padding-top: 0;
    border: 2px solid #000;
    min-height: 200px;
    box-sizing: border-box;
}

.expertise-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.expertise-header h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
} 

.expertise:not(:first-child) {
    border-left: none;
}

.expertise-icon {
    margin-right: 1rem;
}

.expertise h3 {
    font-weight: 600;
}

.expertise p {
    font-family: 'JetBrains Mono', monospace;
    justify-content: center;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .intro-content {
        flex-direction: column;
    }
    
    .intro-profile {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
        margin-left: 2rem;
    }

    .intro-header {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .intro-description {
        margin-left: 3rem;
        margin-right: 2rem;
        max-width: 100%;
    }

    .intro-image {
        margin: 0;
        height: 250px;
    }

    .expertise-container {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .expertise {
        width: 100%;
        margin-bottom: 1rem;
    }

    .expertise:not(:first-child) {
        border-left: 2px solid #000;
    }
}