@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed; 
    width: 100%;
    z-index: 3; 
    top: 0; 
    left: 0; 
    right: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 30px;
    padding: 0;
}

.nav-links li {
    padding: 20px;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.image-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a img{
    width: auto;
    height: 30px;
}

.nav-links a:hover {
    color: #a3abb0;
}

.nav-links a:hover .image-container {
    filter: brightness(91%) invert(73%) sepia(14%) saturate(135%) hue-rotate(159deg) contrast(90%) ;
    transition: filter 0.3s ease;
}

#linkedin-logo:hover {
    filter: brightness(94%) invert(33%) sepia(48%) saturate(2050%) hue-rotate(174deg) contrast(101%) ;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.hamburger-menu img {
    width: auto;
    height: 40px;
    margin-right: 25px;
}

@media (max-width: 1023px) and (min-width: 767px) {
    .nav-links li:nth-last-child(-n+3) {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 20px; 
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding-top: 10px;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .hamburger-menu {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        top: 50%;
        right: 0px;
        z-index: 5;
    }

    .nav-active {
        display: flex;
    }

    .nav-active .nav-links {
        display: flex;
    }
}
