.projects {
    padding: 50px;
}

.new-projects-section {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.new-projects-section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.projects-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.year-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.new-project-item {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.new-project-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #333;
}

.new-project-item h3 {
    font-size: 1.3em;
    margin: 0 0 5px 0;
    color: #333;
    text-align: center;
}

.new-project-item p {
    font-size: 1em;
    margin: 0 0 10px 0;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Adjust as needed */
    display: flex;
    flex-wrap: wrap;
}
  
.skill {
    background-color: #e0e0e0; /* Light grey background */
    color: #333; /* Dark text color for contrast */
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px; /* Rounded corners for tag-like appearance */
    font-size: 0.8em;
}

.new-project-item a {
    display: inline-block;
    margin-right: 10px;
    background-color: #b3b5b7;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 2px;
}

.new-project-item a:hover {
    background-color: #a3abb0;
}

.new-project-item a:active {
    transform: scale(0.95);
}